NEXT_PUBLIC_BASE_PATH=
NEXT_PUBLIC_WORDPRESS_HOMEPAGE_ENDPOINT=/floorstodayhome/wp-json/floors-today/v1/homepage
NEXT_PUBLIC_WORDPRESS_INBOX_ENDPOINT=/floorstodayhome/wp-json/floors-today/v1/inbox-leads
